.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  height: 100vh;
  width: 100vw;
  background-color: #151F2B;
  color: white;
  letter-spacing: 2px;
}

.imagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/back-login.png');
  background-size:contain;
  max-width:100vw;
  max-height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  background-color:#151F2B;
  /* background-image: url('../public/back-login.png');  */
  background-size:contain;
  color: white;
  letter-spacing: 2px;
  max-height: 100vw;
  max-width: 100vw;
}

.title{
  font-size: 4rem;
  margin-left: 50px;
}

.title2{
  font-size: 2rem;
  margin-left: 50px;
}

.p{
  margin-left: 50px;
}

.logo{
  font-size: 80px;
  margin-top: 50px;
  margin-left: 50px;
}

.input {
  height: 40px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup{
  background-color: #3E9AF0;
  border: none;
  border-radius: 30px;
  padding: 10px 80px;
  color: white;
  cursor: pointer;
  margin-left: 50px;
}

.signup:hover {
  background-color: #3876C2;
}

.signin{
  background-color: transparent;
  color: #3E87D1;
  border: white solid ;
  border-radius: 30px;
  padding: 10px 80px;
  cursor: pointer;
  margin-left: 50px;
}

.signin:hover {
  background-color: #3876C2;
  color: white;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #151F2B;
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  width: 400px;
}

.modal h2 {
  margin-bottom: 20px;
}

.modalSignup {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #151F2B;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.closeModal {
  width: 100%;
  padding: 10px 10px 0px 10px;
  margin-top: 10px;
  background-color: transparent;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input2{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

.logo2{
  width: 100%;
  padding: 10px;
  font-size: 60px;
}

.h22{
 text-align: center;
}